

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: rgb(41, 41, 41);
  margin: 0px;
}

.continue {
  clear: both;
}

.about-me {
  background-color: rgb(41, 41, 41);
  color: white;
}

.column {
  display: block;
  width: 50%;
}

.no-margin {
  margin: 0px;
}

#main-title {
  padding-top: 25%;
  color: black;
  font-size: 290%;
}

.hero {
  height: 100vh;
  background-color:#eceff1;
  position: relative;
  background-image: url(../assets/background.png);
  width: 100vw;
  background-size: cover;
}

.title {
  font-size: 290%;
  margin-top: 5%;
}

.padding-left {
  padding-left: 15%;
}
.hero-text{
  font-size: 220%;
  color: black;
  /* text-transform: uppercase; */
}

.button {
  background-color: black; /* Green */
  border: none;
  border-radius: 3px;
  color: #eceff1;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 1s;
}

.button:hover {
  background-color: #eceff1;
  color: black;
}

.title-buttons {
  margin-top: 2%;
  margin-left: 10px;
}

#first-button {
  margin-left: 15%;
}


/* Hero Text Fade In */
.loading-transition{
  
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.typewriter {
  display:inline-block;
}